body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

h1,
h2,
h3,
h4,
h5,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo, .navigation-link, .header-contacts-mail,
.header-contacts-tel, .social-item-link, .clients-link {
  text-decoration: none;
  display: block;
}

.header-contacts,
.navigation-list, .special-list, .what-we-do-list, .our-team ul, .clients-list {
  list-style: none;
}

.menu-btn {
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-btn .icon-close {
  display: none;
}

.menu-btn:hover .icon-menu,
.menu-btn:focus .icon-menu {
  fill: #2196f3;
}

.menu-btn.is-open .icon-menu {
  display: none;
}

.menu-btn.is-open .icon-close {
  display: block;
}

.menu-btn.is-open:focus .icon-close,
.menu-btn.is-open:focus .icon-close {
  fill: #2196f3;
}

.modal-btn {
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.special, .what-we-do, .our-team, .clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .special, .what-we-do, .our-team, .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-part-first {
  color: #2196f3;
}

.logo-part-second {
  color: #212121;
}

.navigation-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-link:hover, .navigation-link:focus {
  color: #2196f3;
}

.studio-underline,
.portfolio-underline {
  color: #2196f3;
}

.studio-underline::after,
.portfolio-underline::after {
  display: block;
  content: '';
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header-contacts-svg {
  fill: #757575;
}

.header-contacts-mail,
.header-contacts-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-contacts-mail:hover, .header-contacts-mail:focus,
.header-contacts-tel:hover,
.header-contacts-tel:focus {
  color: #2196f3;
}

.header-contacts-mail:hover .header-contacts-svg, .header-contacts-mail:focus .header-contacts-svg,
.header-contacts-tel:hover .header-contacts-svg,
.header-contacts-tel:focus .header-contacts-svg {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .header.is-open {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #ffffff;
    width: 100%;
  }
  .header .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .menu-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    position: fixed;
    top: 61px;
    left: 0;
    display: none;
    z-index: 1;
    background-color: #ffffff;
    text-align: center;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .menu-wrapper.is-open {
    display: block;
  }
  .header-contacts li:not(:last-child) {
    margin-bottom: 16px;
  }
  .navigation-list {
    margin-bottom: 40px;
  }
  .navigation-list li:not(:last-child) {
    margin-bottom: 40px;
  }
  .navigation-link {
    font-size: 18px;
    line-height: 1.17;
  }
  .studio-underline::after,
  .portfolio-underline::after {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 61px;
  }
  .portfolio-underline::after {
    width: 95px;
  }
  .header-contacts-mail,
  .header-contacts-tel {
    font-size: 18px;
  }
  .header-contacts-svg {
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
  .menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation-list li:not(:last-child) {
    margin-right: 30px;
  }
  .navigation-link {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 1.14;
  }
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-contacts-mail,
  .header-contacts-tel {
    font-size: 12px;
  }
  .header-contacts-svg {
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }
  .studio-underline,
  .portfolio-underline {
    position: relative;
  }
  .studio-underline::after,
  .portfolio-underline::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-contacts li:not(:last-child) {
    margin-bottom: 10px;
  }
  .navigation {
    margin-right: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
  .navigation {
    margin-right: 305px;
  }
  .header-contacts li:not(:last-child) {
    margin-right: 30px;
  }
  .header-contacts-mail,
  .header-contacts-tel {
    font-size: 14px;
    line-height: 1.14;
  }
}

.hero {
  background-repeat: no-repeat;
  background-position: 50% top;
  background-size: cover;
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero/hero-mobile.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-mobile.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero/hero-mobile2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-mobile2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero/hero-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero/hero-tablet2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-tablet2x.jpg);
  }
}

@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero/hero-desctop.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-desctop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero/hero-desctop2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-desctop2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.special-svg-wrapper {
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.special-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.special-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .special-list li:not(:last-child) {
    margin-bottom: 30px;
  }
  .special-svg-wrapper {
    max-width: 450px;
  }
  .special-title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .special-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .special-list-item {
    width: 354px;
  }
  .special-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .special-list-item {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}

.what-we-do-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.what-we-do-item {
  position: relative;
  width: 370px;
}

.what-we-do-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team {
  background-color: #f5f4fa;
}

.our-team-card {
  padding-bottom: 24px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-name,
.ouer-team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #212121;
}

.ouer-team-position {
  margin-bottom: 16px;
  font-weight: 400;
  color: #757575;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.social-item-link svg {
  margin: auto;
  fill: #afb1b8;
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

.social-item-link:hover, .social-item-link:focus {
  background-color: #2196f3;
}

.social-item-link:hover svg, .social-item-link:focus svg {
  fill: #ffffff;
}

@media screen and (max-width: 767px) {
  .our-team-card {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .our-team-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .our-team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team-card {
    width: 354px;
  }
  .our-team-card:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-card {
    width: 270px;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms linear;
  transition: border-color 250ms linear;
}

.clients-link svg {
  margin: auto;
  fill: #afb1b8;
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

.clients-link:hover, .clients-link:focus {
  border-color: #2196f3;
}

.clients-link:hover svg, .clients-link:focus svg {
  fill: #2196f3;
}

@media screen and (max-width: 479px) {
  .clients-link {
    max-width: 210px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
  .clients-link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
  .clients-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
  }
}

.logo-part-second-footer {
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */