body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

h1,
h2,
h3,
h4,
h5,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo, .navigation-link, .header-contacts-mail,
.header-contacts-tel {
  text-decoration: none;
  display: block;
}

.header-contacts,
.navigation-list {
  list-style: none;
}

.menu-btn {
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-btn .icon-close {
  display: none;
}

.menu-btn:hover .icon-menu,
.menu-btn:focus .icon-menu {
  fill: #2196f3;
}

.menu-btn.is-open .icon-menu {
  display: none;
}

.menu-btn.is-open .icon-close {
  display: block;
}

.menu-btn.is-open:focus .icon-close,
.menu-btn.is-open:focus .icon-close {
  fill: #2196f3;
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-part-first {
  color: #2196f3;
}

.logo-part-second {
  color: #212121;
}

.navigation-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-link:hover, .navigation-link:focus {
  color: #2196f3;
}

.studio-underline {
  color: #2196f3;
}

.studio-underline::after {
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  content: '';
  width: 61px;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header-contacts-svg {
  margin-right: 10px;
  fill: #757575;
}

.header-contacts-mail,
.header-contacts-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-contacts-mail:hover, .header-contacts-mail:focus,
.header-contacts-tel:hover,
.header-contacts-tel:focus {
  color: #2196f3;
}

.header-contacts-mail:hover .header-contacts-svg, .header-contacts-mail:focus .header-contacts-svg,
.header-contacts-tel:hover .header-contacts-svg,
.header-contacts-tel:focus .header-contacts-svg {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .header.is-open {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #ffffff;
    width: 100%;
  }
  .header .container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    position: fixed;
    top: 61px;
    left: 0;
    display: none;
    z-index: 1;
    background-color: #ffffff;
    text-align: center;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .menu-wrapper.is-open {
    display: block;
  }
  .navigation-list {
    margin-bottom: 40px;
  }
  .navigation-list li:not(:last-child) {
    margin-bottom: 40px;
  }
  .header-contacts li:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.hero {
  padding-top: 61px;
}

.logo-part-second-footer {
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */