.header {
  border-bottom: 1px solid #ececec;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  @extend %link;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.navigation-link {
  @extend %link;
}

.header-contacts,
.navigation-list {
  @extend %list;
}

.logo-part-first {
  color: $accent-color;
}

.logo-part-second {
  color: $dark-text-color;
}

.navigation-link {
  font-weight: 500;

  letter-spacing: 0.02em;
  color: $dark-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.studio-underline,
.portfolio-underline {
  color: $accent-color;

  &::after {
    display: block;
    content: '';
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}

.header-contacts-svg {
  fill: $grey-text-color;
}

.header-contacts-mail,
.header-contacts-tel {
  @extend %link;

  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 500;

  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $grey-text-color;

  &:hover,
  &:focus {
    color: $accent-color;

    .header-contacts-svg {
      fill: $accent-color;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    &.is-open {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: $white-text-color;
      width: 100%;
    }

    .container {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .menu-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    position: fixed;
    top: 61px;
    left: 0;
    display: none;
    z-index: 1;
    background-color: $white-text-color;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
      display: block;
    }
  }

  .header-contacts li:not(:last-child) {
    margin-bottom: 16px;
  }

  .navigation-list {
    margin-bottom: 40px;

    li:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  .navigation-link {
    font-size: 18px;
    line-height: 1.17;
  }

  .studio-underline::after,
  .portfolio-underline::after {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;

    width: 61px;
  }

  .portfolio-underline::after {
    width: 95px;
  }

  .header-contacts-mail,
  .header-contacts-tel {
    font-size: 18px;
  }

  .header-contacts-svg {
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .menu-wrapper {
    display: flex;
    align-items: center;
  }

  .navigation-list {
    display: flex;

    li:not(:last-child) {
      margin-right: 30px;
    }
  }

  .navigation-link {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 1.14;
  }

  .header-contacts {
    display: flex;
  }

  .header-contacts-mail,
  .header-contacts-tel {
    font-size: 12px;
  }

  .header-contacts-svg {
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }

  .studio-underline,
  .portfolio-underline {
    position: relative;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts {
    flex-direction: column;
    align-items: flex-start;

    li:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .navigation {
    margin-right: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }

  .navigation {
    margin-right: 305px;
  }

  .header-contacts li:not(:last-child) {
    margin-right: 30px;
  }

  .header-contacts-mail,
  .header-contacts-tel {
    font-size: 14px;
    line-height: 1.14;
  }
}
