.our-team {
  @extend %section;

  background-color: $section-bg-color;

  ul {
    @extend %list;
  }
}

.our-team-card {
  padding-bottom: 24px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-name,
.ouer-team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;

  color: $dark-text-color;
}

.ouer-team-position {
  margin-bottom: 16px;
  font-weight: 400;

  color: $grey-text-color;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-item-link {
  @extend %link;

  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms linear;

  svg {
    margin: auto;
    fill: $social-icon-color;

    transition: fill 250ms linear;
  }

  &:hover,
  &:focus {
    background-color: $accent-color;

    svg {
      fill: $white-text-color;
    }
  }
}

@media screen and (max-width: 767px) {
  .our-team-card {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and(min-width:768px) and (max-width: 1199px) {
  .our-team-card {
    width: 354px;

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .our-team-card {
    width: 270px;
  }
}
