.special {
  @extend %section;
}

.special-list {
  @extend %list;
}

.special-svg-wrapper {
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $section-bg-color;
  border-radius: 4px;
}

.special-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $dark-text-color;
}

.special-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $grey-text-color;
}

@media screen and (max-width: 767px) {
  .special-list li:not(:last-child) {
    margin-bottom: 30px;
  }

  .special-svg-wrapper {
    max-width: 450px;
  }

  .special-title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .special-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .special-list-item {
    width: 354px;

    &:nth-child(odd) {
      margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .special-list-item {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
