%link {
  text-decoration: none;
  display: block;
}

%list {
  list-style: none;
}

%footer-form-font {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: $footer-contact-text-color;
}
