$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$dark-text-color: #212121;
$grey-text-color: #757575;
$white-text-color: #ffffff;
$accent-color: #2196f3;
$section-bg-color: #f5f4fa;
$social-icon-color: #afb1b8;
$footer-contact-text-color: rgba(255, 255, 255, 0.6);
$modal-message-text-color: rgba(117, 117, 117, 0.5);
$portfolio-bg-color: rgba(33, 150, 243, 0.9);
